.contact-item {
  margin-bottom: 20pt;
  background-color: white;
  border-radius: 3pt;
  padding: 8pt;

  .image {
    max-width: 100%;
  }

  .driver-information-container {
    position: relative;
    height: 45pt;

    .driver-information {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      transition: top 0.3s;

      &:hover {
        top: -45px;
      }

      .driver-type {
        position: absolute;
        z-index: 1;
        top: -15pt;
        left: calc(50% - 19px);
      }

      .text {
        padding-top: 10pt;
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        overflow-y: hidden;

        .text-item {
          display: block;
        }

        .full-name {
          font-size: larger;
        }

        .sub-info {
          font-size: smaller;
        }
      }

    }

  }
}
